body {
    font-family: 'Inter', sans-serif;
}

.bg-primary { 
    background-color: #844dd0; 
}
.text-primary { 
    color: #844dd0; 
}
.border-primary { 
    border-color: #844dd0; 
}
.hover\:bg-primary-dark:hover { 
    background-color: #6a3da8; 
}
.focus\:ring-primary:focus {
    --tw-ring-color: #844dd0;
}
.focus\:border-primary:focus {
    --tw-border-opacity: 1;
    border-color: #844dd0;
}

.flashcard-placeholder {
    background-color: #eee7ff; 
    border-color: #844dd0; 
}

.flipped {
    transform: rotateY(180deg);
}